<!DOCTYPE html>
<html>
  <head>
    <title>Cocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
=begin
    <header>
    
    <div class="header-logo">
      <%= link_to("カクテルレシピアン(仮)", "/") %>
    </div>
    <ul class="header-menus">
      <li>
        <%= link_to("レシピを探す", "/cocktails/index") %>
      </li>
    </ul>
    </header>
=end
    <%= yield %>
  </body>
</html>
